$fg-color: teal;
$bg-color: black;


body {
	font-family: 'Futura', serif;
	background:$bg-color;
	color:wheat;
}
hr{
	margin:0px;
}
.btn{
	background:$fg-color;
	color:$bg-color;
	border-color: $bg-color;
	border-radius:0px;

}
.btn:hover{
	@extend .btn;
}
.btn:focus{
	@extend .btn;
	color:wheat;
}

.dropdown-list{
	border-radius:0px;
	background:pink;
}
a{
	color:wheat;
}
.btn-primary{
	background:$fg-color;
	border-radius:0px;
}
.navbar{
	background: $fg-color;
	color:white;
	border:0px;
	border-radius:0px;
	height:80px;
}
.navbar-brand{
	padding:0px;
}
.nav-pills{
	float:right;
	margin-top:30px;
}
.logo{
	height:80px;
}
.thumbnail{
	width:150px;
	margin-left:auto;
	margin-right:auto;
	padding:0px;
	border:none;
	border-radius:0px;
}

.mini{
	width:50px;
	margin-left:auto;
	margin-right:auto;
	border:none;

}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	background:wheat;
	color:$bg-color;
	border-color:$bg-color;
}
.nav-tabs > li:hover > a{
	background:wheat;
	border-color:$bg-color;
	color:$bg-color;
}
.nav{
	border-bottom-color:$bg-color;
}
.btn-grp{
	float:right;
	padding: 10px;
	padding-top: 35px;
}
form.button_to{
	display: inline-block;
}
input{
	border:none;
	background:$fg-color;
	margin:5px;
	color:$bg-color;
}
.btn-sign-out{
	margin:0px;
}
.detail{
	width:200px;
	margin-left:auto;
	margin-right:auto;
	padding:0px;
	border:none;
}
.rating{
color:$fg-color;
}
.show-item{
	display:inline-block;
	float:left;
	margin:5px;
	text-align:center;
}

.list-shows{
margin:10px;
width:1200px;
padding:0px;
}
.detail-header{
	width:250px;
	text-align:center;
}
.header-text{
	border-bottom: dashed 1px wheat;

}
.list-buttons{
	margin:5px;
}
.lists-container{
	border-bottom: dashed 1px wheat;
	margin-bottom:15px;
	margin-top:15px;
}

.desc{
margin-top:5px;
}
