					<h1>Sign In</h1>
					<form action="<%= session_url %>" method="POST" class="navbar-form" id="sign-in">

						<input type="hidden"
								name="authenticity_token"
								value="<%= form_authenticity_token %>">	

						<input type="text" name="user[username]" id="user_username" class="txti-small" placeholder="Username">
	
						<input type="password" name="user[password]" id="user_password" class="txti-small" placeholder="Password">
						<input type="submit" value="Sign In" class="btn-default">
					</form>		
					
	
						<h1>Sign Up</h1>

					<form action="<%= users_url %>" method="POST" class="user-form">

						<input type="hidden"
								name="authenticity_token"
								value="<%= form_authenticity_token %>">	

						<input type="text" name="user[username]" id="user_username_signup" class="txti" placeholder="Username"><br>
	
						<input type="password" name="user[password]" id="user_password_signup" class="txti" placeholder="Password"><br>
					<br>
						<input type="submit" value="Sign Up" class="btn-default">
					</form>	
					