<div class="btn-group" dropdown ng-init="initSetList()">
      <a href="#/user/{{currentUser.id}}/list/{{currentList.id}}" type="button" class="btn btn-primary">{{currentList.category || 'Add to list'}}</a>
      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="list in currentUser.lists"><a ng-click="setList(show, list)">{{list.category}}</a></li>
				<li ng-if="currentList">
					<hr>
					<a ng-click="clearList(show, currentList)">Remove from {{currentList.category}}</a>
				</li>
      </ul>
    </div>
