<title>Watchlist</title>
<!-- bower:css -->
<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
<!-- endbower -->
<!-- injector:css -->
<link rel="stylesheet" href="stylesheets/app.css">
<!-- endinjector -->
<!-- bower:js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/spin.js/spin.js"></script>
<script src="../bower_components/angular-spinner/angular-spinner.js"></script>
<script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="../bower_components/angular-loading-spinner/angular-loading-spinner.js"></script>
<!-- endbower -->
<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<!-- injector:js -->
<script src="javascripts/directives/_module.js"></script>
<script src="javascripts/directives/setList.js"></script>
<script src="javascripts/directives/setRating.js"></script>
<script src="javascripts/factories/_module.js"></script>
<script src="javascripts/factories/listingsFactory.js"></script>
<script src="javascripts/factories/listsFactory.js"></script>
<script src="javascripts/factories/ratingsFactory.js"></script>
<script src="javascripts/factories/seriesFactory.js"></script>
<script src="javascripts/factories/usersFactory.js"></script>
<script src="javascripts/watchlist.js"></script>
<!-- endinjector -->
