
<!DOCTYPE html>
<html>
  <head>
    <%- include _header.ejs %>
  </head>
<body>
  <%- include _navbar.ejs %>

	<div class="container-fluid">
    <h1>Sign In</h1>
    <form action="/login" method="POST" id="sign-in">


      <input type="text" name="username" id="user_username" placeholder="Username"><br>

      <input type="password" name="password" id="user_password" placeholder="Password"><br>
      <input type="submit" value="Sign In" class="btn btn-default">
      <button class="btn btn-default btn-lg" id="guest">Guest Sign-in</button><br><br>
    </form>



      <h1>Sign Up</h1>

    <form action="/register" method="POST">

      <input type="text" name="username" id="user_username_signup" placeholder="Username"><br>

      <input type="password" name="password" id="user_password_signup" placeholder="Password"><br>
      <input type="submit" value="Sign Up" class="btn btn-default">
    </form>

  </div>

  <script>
					$('button#guest').on('click', function(){
						$('#user_username').val('guest');
						$('#user_password').val('guestguest');
						$('form#sign-in').submit();
				});
	</script>
</body>
</html>
