/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
	font-family: 'Georgia', serif;
	background:black;
	color:wheat;
}
hr{
margin:0px;
}
.btn{
background:teal;
color:black;
border-color: black;
border-radius:0px;

}
.btn:hover{
background:teal;
border-color: black;
color:black;
}
.btn:focus{
background:teal;
color:wheat;
border-color: black;
}

.dropdown-list{
	border-radius:0px;
	background:pink;
}
a{
	color:wheat;
}
.btn-primary{
	background:teal;
	border-radius:0px;
}
.navbar{
	background: teal;
	color:white;
	border:0px;
	border-radius:0px;
	height:80px;
}
.navbar-brand{
	padding:0px;
}
.nav-pills{
	float:right;
	margin-top:30px;
}
.logo{
	height:80px;
}
.thumbnail{
	width:150px;
	margin-left:auto;
	margin-right:auto;	
	padding:0px;
	border:none;
	border-radius:0px;
}

.mini{
	width:50px;
	margin-left:auto;
	margin-right:auto;
	border:none;
	
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	background:wheat;
	color:black;
	border-color:black;
}
.nav-tabs > li:hover > a{
	background:wheat;
	border-color:black;
	color:black;	
}
.nav{
	border-bottom-color:black;
}
.btn-grp{	
	float:right;
	padding: 10px;
	padding-top: 35px;
}
form.button_to{
	display: inline-block;
}
input{
	border:none;
	background:teal;
	margin:5px;
	color:black;
}
.btn-sign-out{
	margin:0px;
}
.detail{
	width:200px;
	margin-left:auto;
	margin-right:auto;	
	padding:0px;
	border:none;
}
.rating{
color:teal;
}
.show-item{
	display:inline-block;
	float:left;
	margin:5px;
	text-align:center;
}

.list-shows{
margin:10px;
}
.detail-header{
	width:250px;
	text-align:center;
}
.header-text{
	border-bottom: dashed 1px wheat;
	
}
.list-buttons{
	margin:5px;
}
.lists-container{
	border-bottom: dashed 1px wheat;
	margin-bottom:15px;
	margin-top:15px;
}

.desc{
margin-top:5px;
}