{{user.username}}

<tabset>
  <tab ng-repeat="list in user.lists" heading="{{list.category}}" active="list.active" disabled="list.disabled">

		<div ng-repeat="show in list.shows" class="row list-shows">
			<div class="col-md-1">
				<a href="/#series/{{show.id}}"><img src="{{show.imgUrl}}" class="mini" /></a>
			</div>

			<div class="col-md-4">
				{{show.title}}

			</div>
			<div class="col-md-2">
				<set-list show="show"></set-list>
			</div>
			<div class="col-md-2">
				<set-rating show="show"></set-rating>
			</div>

		</div>
  </tab>

</tabset>

