<span class="h1">{{user.username}}'s watchlists</span> 

<div class="lists-container">
	<a ui-sref="user.list({listId: {{list.id}}})" class="btn btn-default list-buttons" ng-repeat="list in user.lists">{{list.category}}</a>
	<!-- <a class="btn btn-default" href="#/user/{{user.id}}/newlist" ng-if="currentUser"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
New list</a> -->
</div>
<ui-view></ui-view>
<!--<tabset>
  <tab ng-repeat="list in user.lists" heading="{{list.category}}" active="list.active" disabled="list.disabled">

		<div ng-repeat="show in list.shows" class="row list-shows">
			<div class="col-md-1">
				<a href="/#series/{{show.id}}"><img src="{{show.imgUrl}}" class="mini" /></a>
			</div>

			<div class="col-md-4">
				{{show.title}}

			</div>
			<div class="col-md-2">
				<set-list show="show"></set-list>
			</div>
			<div class="col-md-2">
				<set-rating show="show"></set-rating>
			</div>

		</div>
  </tab>

</tabset> -->

